html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 0px;
}

.logoZoomIn {
    animation: zoom-in 1s ease;
    animation-fill-mode: forwards;
}

.logoZoomOut {
    animation: zoom-out 1s ease;
    animation-fill-mode: forwards;
}

@keyframes zoom-in {
    from {
        transform: scale(0.74, 0.74) translate(-13%,0%);
    }
    to {
        transform: scale(1, 1) translate(0,0);
    }
}

@keyframes zoom-out {

    from {
        transform: scale(1, 1) translate(0,0);
    }

    to {
        transform: scale(0.74, 0.74) translate(-13%,0%);
    }
}

.custom-nav-item {
    opacity: 0.5;
}
    .custom-nav-item:hover {
        color: black;
        opacity: 1;
        text-decoration: underline;
        cursor: pointer;
    }

.custom-nav-icon {
    color: black;
    font-size: 24px;
    opacity: 0.5;
}

    .custom-nav-icon:hover {
        color: black;
        opacity: 1;
        font-size: 26px;
        cursor: pointer;
    }

@media screen and (max-width: 450px) /* height >= 820 px */
{
   .app-logo {
      
   }
}

@media screen and (max-width: 330px) {
    html {
        width: 330px;
    }
}

@keyframes sidebar-open {
    from {
        left: -1000px
    }

    to {
        left: 0px
    }
}

@keyframes sidebar-close {
    from {
        left: 0px
    }

    to {
        left: -1000px
    }
}

.event-hover:hover {
    cursor: pointer;
}

.sidebar-item {
    font-size: 17px
}

.sidebar-item:hover {
    cursor: pointer;
    background-color : rgba(0,0,0,0.1);
}

.sidebar-footer {
    background-color: rgba(0,0,0,0.1);
}

.sidebar-footer-item {
    background-color: rgba(0,0,0,0.1);
}

.custom-sidebar-footer-icon {
    color: black;
    font-size: 24px;
}

    .custom-sidebar-footer-icon:hover {
        color: black;
        opacity: 1;
        font-size: 26px;
        cursor: pointer;
    }

.custom-footer {
    background-color: #123026;
    color: white;
}

.footer-title{
    font-weight: bold;
    font-size : 20px;
}

.footer-nav-item{
    opacity: 0.5;
    font-size: 16px;
    text-decoration: none;
    color: white;
}

.footer-nav-item:hover {
    opacity: 1;
    font-size: 16px;
    text-decoration: underline;
    color: white;
    cursor: pointer;
}

.footer-icon {
    font-size: 16px;
}

.footer-icon:hover {
    font-size: 18px;
    cursor: pointer;
}

.payment-item{
    background-color: white;
    width: 50px;
    height: 20px;
    border-radius: 5px;
    color: white;
    position: relative;
}

/* Tooltip text */
.my-tooltiptext {
    visibility: hidden;
    width: 60px;
    height: 20px;
    background-color: white;
    text-align: center;
    padding: 2px 0;
    color: black;
    font-size: 10px;
    position: absolute;
    bottom: -22px;
    right: -30px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.payment-item:hover .my-tooltiptext {
    visibility: visible;
}