@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

 
    

</div>

@for (var i = 0; i < 4; i++)
{
    <img src="https://thesusoutdoors.com/cdn/shop/files/thesus-ethos-values.png?v=1686324998&width=1500" />
}
