<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EcommerceWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EcommerceWeb.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" asp-append-version="true" />
</head>
<body>
    <div class="position-fixed start-0 end-0">
        <div id="nav-top-info" class="bg-dark">
            <div class="container text-light text-center">
                25% off sitewide. Free shipping globally including customs + duties.
            </div>
        </div>

        <header>
            <nav id="custom-nav"
                 class="navbar navbar-expand-md navbar-toggleable-md navbar-light bg-white border-bottom box-shadow mb-3 d-flex py-3 justify-content-between px-3">

                 <div class="container">
                    <img id="app-logo" style="width:200px" src="~/assets/app_logo.png" />

                    <div class="d-none d-md-block" style="width:50px"></div>

                    <!--List nav item-->
                    <div class="navbar-collapse collapse d-md-inline-flex">
                        <ul class="navbar-nav flex-grow-1">
                            <!--
                                <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                            -->
                            <li class="nav-item custom-nav-item">
                                <a class="nav-link text-dark">New</a>
                            </li>

                            <li class="nav-item ">
                                <a class="nav-link custom-nav-item" style="color:red; opacity:1;font-weight:500">Sale</a>
                            </li>

                            <li class="nav-item custom-nav-item">
                                <a class="nav-link text-dark">Gifts</a>
                            </li>

                            <li class="nav-item custom-nav-item">
                                <a class="nav-link text-dark">Rain</a>
                            </li>

                            <li class="nav-item custom-nav-item">
                                <a class="nav-link text-dark">All Weather</a>
                            </li>

                            <li class="nav-item custom-nav-item">
                                <a class="nav-link text-dark">Shop All</a>
                            </li>

                            <li class="nav-item custom-nav-item">
                                <a class="nav-link text-dark">Values</a>
                            </li>
                        </ul>
                    </div>

                     <!--List icon-->
                    <div class="d-flex">
                            <li class="nav-item d-flex align-items-center">
                                <i class="bi bi-search px-2 custom-nav-icon py-2"></i>
                            </li>

                             <div class="d-none d-md-block">
                                <li class="nav-item d-flex align-items-center ">
                                    <i class="bi bi-person px-2 custom-nav-icon py-2"></i>
                                </li>
                            </div>
                           


                            <li class="nav-item d-flex align-items-center position-relative">
                                <i class="bi bi-handbag custom-nav-icon  px-2 py-2">
                                </i>


                                <div class="position-absolute d-flex justify-content-center align-item-center"
                                     style="width:16px;height:16px;background-color:black; bottom:12px;right:0px;border-radius:32px">
                                    <div style="color:white; font-size:10px">
                                        1
                                    </div>
                                </div>
                            </li>


                        <!--Button appear when screen < md-->
                        <div class="px-3 d-flex justify-content-center align-item-center d-md-none">
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                         </div>

                  
                    </div>


                 </div>
                
            </nav>
        </header>
    </div>

    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - KenShop - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script>
        var $win = $(window);

        // scroll event
        $win.scroll(function () {
            var win = $(this);
        
            if ($win.scrollTop() == 0) {
                // scroll at top
                $("#nav-top-info").removeClass('d-none');

                if (win.width() > 450) {
                    // add animation for logo
                    $("#app-logo").addClass('logoZoomIn');
                    $("#app-logo").removeClass('logoZoomOut');
                }
                else {
                    // remove animation for logo
                     $("#app-logo").removeClass('logoZoomIn');
                     $("#app-logo").removeClass('logoZoomOut');     
                }
            
                $("#custom-nav").addClass('py-3');
            }
            else {
                $('#nav-top-info').addClass('d-none');

                if (win.width() > 450) {
                    // add animation for logo
                    $("#app-logo").removeClass('logoZoomIn');
                    $("#app-logo").addClass('logoZoomOut');
                }
                else {
                    // remove animation for logo
                    $("#app-logo").removeClass('logoZoomIn');
                    $("#app-logo").removeClass('logoZoomOut');
                }
                         
                setTimeout(function () {
                    $("#custom-nav").removeClass('py-3');
                }, 0.5);
            }

        });
        
        // resize screen event
        $(window).on('resize', function () {
            var win = $(this);   
            if (win.width() <= 450) {
                // resize logo
                $("#app-logo").width( ( (win.width() * 200) / 450 ) * 0.5 );
            }
            else {
                $("#app-logo").width(200);
            }
        });
     
    </script>
</body>
</html>
