<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EcommerceWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EcommerceWeb.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" asp-append-version="true" />
</head>
<body>
    <div class="position-fixed start-0 end-0">
        <div id="nav-top-info" class="bg-dark">
            <div class="container text-light text-center">
                25% off sitewide. Free shipping globally including customs + duties.
            </div>
        </div>

        <header class="position-absolute start-0 end-0">
            <nav id="custom-nav"
                 class="navbar navbar-expand-lg navbar-toggleable-lg navbar-light bg-white border-bottom box-shadow d-flex py-3 justify-content-between px-3 ">

                 <div class="container">
                    <img id="app-logo" style="width:200px" src="~/assets/app_logo.png" />

                    <div class="d-none d-lg-block" style="width:50px"></div>

                    <!--List nav item-->
                    <div class="navbar-collapse collapse  d-lg-inline-flex">
                        <ul class="navbar-nav flex-grow-1">
                            <!--
                                <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                            -->
                            <li class="nav-item custom-nav-item" onclick="location.href='https://localhost:44338?title=new';">
                                <a class="nav-link text-dark">New</a>
                            </li>

                            <li class="nav-item " onclick="location.href='https://localhost:44338?title=sales';">
                                <a class="nav-link custom-nav-item" style="color:red; opacity:1;font-weight:500">Sale</a>
                            </li>

                            <li class="nav-item custom-nav-item" onclick="location.href='https://localhost:44338?title=gift';">
                                <a class="nav-link text-dark" >Gifts</a>
                            </li>

                            <li class="nav-item custom-nav-item" onclick="location.href='https://localhost:44338?title=rain';">
                                <a class="nav-link text-dark">Rain</a>
                            </li>

                            <li class="nav-item custom-nav-item" onclick="location.href='https://localhost:44338?title=snow';">
                                <a class="nav-link text-dark">Snow</a>
                            </li>

                            <li class="nav-item custom-nav-item" onclick="location.href='https://localhost:44338?title=all-weather';">
                                <a class="nav-link text-dark">All Weather</a>
                            </li>

                            <li class="nav-item custom-nav-item" onclick="location.href='https://localhost:44338?title=shop-all';">
                                <a class="nav-link text-dark">Shop All</a>
                            </li>

                            <li class="nav-item custom-nav-item" onclick="location.href='https://localhost:44338?title=values';">
                                <a class="nav-link text-dark">Values</a>
                            </li>
                        </ul>
                    </div>

                     <!--List icon-->
                    <div class="d-flex">
                            <li class="nav-item d-flex align-items-center">
                                <i class="bi bi-search px-2 custom-nav-icon py-2"></i>
                            </li>

                             <div class="d-none d-lg-block">
                                <li class="nav-item d-flex align-items-center ">
                                    <i class="bi bi-person px-2 custom-nav-icon py-2"></i>
                                </li>
                            </div>
                           


                            <li class="nav-item d-flex align-items-center position-relative">
                                <i class="bi bi-handbag custom-nav-icon  px-2 py-2">
                                </i>


                            <div class="position-absolute d-flex justify-content-center align-item-center event-hover"
                                     style="width:16px;height:16px;background-color:black; bottom:12px;right:0px;border-radius:32px">
                                    <div style="color:white; font-size:10px">
                                        1
                                    </div>
                                </div>
                            </li>


                            <input type="checkbox" id="my-toggler" style="display:none"/>
                        <!--Button appear when screen < lg-->
                        <label id="menu-btn" for="my-toggler" class="navbar-toggler px-3 d-flex justify-content-center align-item-center d-lg-none mx-2 event-hover">
                            <!--
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>-->

                           
                            <label class="d-flex justify-content-center align-items-center event-hover" for="my-toggler">
                                    <span class="navbar-toggler-icon">
                                      
                                    </span>
                             </label>
                    
                           
                         </label>

                  
                    </div>

                 </div>            
            </nav>

         
            <!-- opacity backgroud -->
            <div id="sidebar-bg" class="position-relative top-0 start-0 w-100 vh-100" style="background-color: rgba(0,0,0,0.4);display: none">
                <!--Begin side bar-->
                <div id="sidebar" class=" position-relative top-0 d-lg-none col-10 col-md-5  overflow-auto"
                     style="background-color:white; left: 0px;">

                    <div class="" style="">
                        <ul class="navbar-nav  py-5">
                            <!--
                                <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                            -->
                            <li class="nav-item sidebar-item px-5 py-2" onclick="location.href='https://localhost:44338?title=new';">
                                <a class="nav-link text-dark">New</a>
                            </li>

                            <li class="nav-item px-5 py-2 sidebar-item" onclick="location.href='https://localhost:44338?title=sale';">
                                <a class="nav-link " style="color:red; opacity:1;font-weight:500">Sale</a>
                            </li>

                            <li class="nav-item sidebar-item px-5 py-2" onclick="location.href='https://localhost:44338?title=gifts';">
                                <a class="nav-link text-dark">Gifts</a>
                            </li>

                            <li class="nav-item sidebar-item px-5 py-2" onclick="location.href='https://localhost:44338?title=rain';">
                                <a class="nav-link text-dark">Rain</a>
                            </li>

                            <li class="nav-item sidebar-item px-5 py-2" onclick="location.href='https://localhost:44338?title=snow';">
                                <a class="nav-link text-dark">Snow</a>
                            </li>

                            <li class="nav-item  sidebar-item px-5 py-2" onclick="location.href='https://localhost:44338?title=all-weather';">
                                <a class="nav-link text-dark">All Weather</a>
                            </li>

                            <li class="nav-item  sidebar-item px-5 py-2" onclick="location.href='https://localhost:44338?title=shop-all';">
                                <a class="nav-link text-dark">Shop All</a>
                            </li>

                            <li class="nav-item  sidebar-item px-5 py-2" onclick="location.href='https://localhost:44338?title=values';">
                                <a class="nav-link text-dark">Values</a>
                            </li>
                        </ul>

                        <div class="sidebar-footer d-flex flex-column justify-content-center px-3 py-3" style="width:100%; height:160px">
                            <div class="h-50">
                                <div class="event-hover custom-sidebar-footer-icon py-2">
                                    <i class="bi bi-person  ps-3  me-1 "></i>
                                    <div class="h-auto d-inline-block" style="font-weight: 500;font-size: 16px">Log in</div>
                                </div>
                                
                            </div>
                            <div class="d-flex h-50">
                                <i class="bi bi-facebook px-3  py-2 custom-sidebar-footer-icon"></i>
                                <i class="bi bi-pinterest px-3  py-2 custom-sidebar-footer-icon"></i>
                                <i class="bi bi-instagram px-3  py-2 custom-sidebar-footer-icon"></i>
                                <i class="bi bi-tiktok px-3  py-2 custom-sidebar-footer-icon"></i>
                            </div>
                        </div>
                     </div>
                   
                </div>
            </div>

            
           


        </header>
    </div>

    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - KenShop - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script>
        const navItemNames = [
            "new",
            "sale",
            "gift",
            "rain",
            "snow",
            "all-weather",
            "shop-all", 
            "values", 
        ];

        function getIndex(str){
            for (let i = 0 ; i < navItemNames.length ;i++){
                if (str.includes(navItemNames[i])) {
                    console.log(str, navItemNames[i], i);
                    return i;
                }
            }
            return 0;
        }

        var $win = $(window);

        // scroll event
        $win.scroll(function () {          
            var win = $(this);
        
            if ($win.scrollTop() == 0) {
                // scroll at top
                $("#nav-top-info").removeClass('d-none');

                if (win.width() > 450) {
                    // add animation for logo
                    $("#app-logo").addClass('logoZoomIn');
                    $("#app-logo").removeClass('logoZoomOut');
                }
                else {
                    // remove animation for logo
                     $("#app-logo").removeClass('logoZoomIn');
                     $("#app-logo").removeClass('logoZoomOut');     
                }
            
                $("#custom-nav").addClass('py-3');
            }
            else {
                $('#nav-top-info').addClass('d-none');

                if (win.width() > 450) {
                    // add animation for logo
                    $("#app-logo").removeClass('logoZoomIn');
                    $("#app-logo").addClass('logoZoomOut');
                }
                else {
                    // remove animation for logo
                    $("#app-logo").removeClass('logoZoomIn');
                    $("#app-logo").removeClass('logoZoomOut');
                }
                         
                setTimeout(function () {
                    $("#custom-nav").removeClass('py-3');
                }, 0.5);
            }

            resizeSideBar();
        });
        
        function openSideBar(){
            if ($('#sidebar').css('left') == '-1000px' || $('#sidebar-bg').css('display') == 'none') {
                $('#sidebar').css('animation', 'sidebar-open 0.5s ease');
                $('#sidebar').css('animation-fill-mode', 'forwards');
                $('#sidebar-bg').css('display', 'block');
                $('body').css('overflow-y', 'hidden');
            }
        }

        function hideSideBar() {
            if ($('#sidebar').css('left') == '0px' || $('#sidebar-bg').css('display') == 'block') {
                $('#sidebar').css('animation', 'sidebar-close 0.5s ease');
                $('#sidebar').css('animation-fill-mode', 'forwards');
                $('#sidebar-bg').css('display', 'none');
            }
        }

        // resize screen event
        $(window).on('resize', function () {
            var win = $(this);
            // resize logo
            if (win.width() <= 450) {             
                $("#app-logo").width(((win.width() * 200) / 450) * 0.5);
            }
            else {
                $("#app-logo").width(200);
            }
            hideSideBar();
        });

        // event open or close sidebar
        $('#my-toggler').click(function () {
            $('body').css('overflow-y', 'auto');
            let val = $('#my-toggler').prop('checked');
            if (val == true) openSideBar();       
            else hideSideBar();  
        });

        $('#sidebar').click(function (event) {
            event.stopPropagation();
        });

        // event click on background when sidebar is opening
        $('#sidebar-bg').click(function () {
            hideSideBar();
        });

        function markSideBarItemChosen() {
            let win = $(this);
            let loc = win[0].location.href;
            let pos = getIndex(loc);                    
            $('#sidebar .sidebar-item').eq(pos).css('background-color', 'rgba(0,0,0,0.1)');
        }

        function markNavBarItemChosen() {
            let win = $(this);
            let loc = win[0].location.href;
            let pos = getIndex(loc);       
            
            $('.custom-nav-item').eq(pos).css('color', 'black');
            $('.custom-nav-item').eq(pos).css('opacity', '1');
            $('.custom-nav-item').eq(pos).css('text-decoration', 'underline');  
        }

        // event hover sidebar item
        $("#sidebar .sidebar-item").hover(function () {
            $(this).css("background-color", "rgba(0,0,0,0.1)");
        }, function () {
            $(this).css("background-color", "white");
            markSideBarItemChosen();
        });

        // event hover navbar item
        $(".custom-nav-item").hover(function () {
            $(this).css("color", "black");
            $(this).css("opacity", "1");
            $(this).css("text-decoration", "underline");
            $(this).css("cursor", "pointer");
        }, function () {
            $(this).css("opacity", "0.5");
            $(this).css("text-decoration", "none");
            markNavBarItemChosen();
        });

        window.addEventListener('load', function() {
            // reset sidebar-iten background
            $('#sidebar .sidebar-item').css('background-color', 'white');
            markSideBarItemChosen();

            // reset navbar-iten style
            $('.custom-nav-item').css('text-decoration', 'none');
            $('.custom-nav-item').css('opacity', '0.5');

            // Special style for sale
            $('.custom-nav-item').eq(1).css('opacity', '1');
            $('.custom-nav-item').eq(1).css('font-weight', '500');

            markNavBarItemChosen();
            resizeSideBar();
        });

        function resizeSideBar(){
            let navHeight = $("#custom-nav").css("height");
            let navInfoHeight = $("#nav-top-info").css("height");
            let winHeight = $(window).height();
            let value = 0;
            if ($("#nav-top-info").css('display') == "block") {
                $("#sidebar").css("height", `calc( 100% - ${navHeight} - ${navInfoHeight} )`);
            }
            else {
                $("#sidebar").css("height", `calc( 100% - ${navHeight} )`);
            }
        }
    </script>
</body>
</html>
